body {
	font-family: Helvetica;
}

div#main {
	width: 520px;
	height: 250px;
	background-color: #e0dede;
	padding: 0 5px;
}

div#content {
}

div#answers {
	float: right;
	width: 140px;
}

a:link, a:visited {
	color: #4052db;
}

.hidden {
	display: none;
}
