body {
	font-family: verdana;
}

div#main {
	width: 520px;
	height: 265px;
	background:url('bg.png') top left no-repeat;
	padding: 1px;
}

div#content {
	position: absolute;
	width: 378px;
}

div#answers {
	position: absolute;
	left: 384px;
	width: 140px;
	margin-top: 15px;
}

.hidden {
	display: none;
}
