body {
	font-family: verdana;
}

div#main {
	width: 520px;
	height: 265px;
	background:url('bg.png') top left no-repeat;
	padding: 2px;
	border: 1px solid black;
}

div#content {
	float: left;
}

div#images {
	position: absolute;
	left: 350px;
}

div#startProduct {
	float: right;
	margin-left: 20px;
}

div#startService {
	float: left;
}

p.icons {
	margin-left: 20px;
}

.hidden {
	display: none;
}
